# Datan analysointi ja visualisointi TTC8040
## DA&VI Harjoitus 2

Toisen viikon [materiaalia](https://student.labranet.jamk.fi/~pelju/datanav_k22/topic2/kerta2.ipynb).

## Kysymys 1
# Kunta-datan käsittely
Tee funktio ks_kunnat(url), joka tekee seuraavaa:

* lataa CSV-datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku)
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa ‘maakunta’ esiintyy merkkijono ‘Keski-Suomi’ ja sarakkeen ‘kokonaispinta-ala’ arvo on suurempi kuin 1000
* suodata tiedot DataFramesta näyttämällä vain seuraavat sarakkeet: "kunta", "maapinta-ala", "kokonaispinta-ala" ja "Väkiluku".
* Lajittele data siten, että kunta, jonka "maapinta-ala" on suurin tulee ensimmäiseksi (lajittelujärjestys laskeva)
* tulosta lopputulokseen viisi ensimmäistä riviä.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~pelju/data_av/sources/kunnat.csv


<span style="color:red">Huom! Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.</span>

In [2]:
def ks_kunnat(url):
    import pandas as pd
    
    df = pd.read_csv(url, sep=';', decimal=',')
    df2 = df[(df['maakunta'] == 'Keski-Suomi') & (df['kokonaispinta-ala'] >= 1000)]
    df2 = df2[['kunta', 'maapinta-ala', 'kokonaispinta-ala', 'Väkiluku']]
    df2 = df2.sort_values('maapinta-ala', ascending = False)
    tulos = df2.head()
    print(tulos)

url='https://student.labranet.jamk.fi/~pelju/data_av/sources/kunnat.csv'

ks_kunnat(url)

          kunta  maapinta-ala  kokonaispinta-ala  Väkiluku
65        Jämsä       1571.36            1823.90     20607
92       Keuruu       1257.97            1430.57      9762
234  Saarijärvi       1251.72            1422.72      9415
298  Viitasaari       1248.55            1589.12      6264
63    Jyväskylä       1170.97            1466.35    141305

## Kysymys 2
# Kunnat
Tee funktio kunnat(url), joka tekee seuraavaa:

* lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa 'maakunta' esiintyvät merkkijonot 'Uusimaa', 'Keski- Pohjanmaa' tai 'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000,
* kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta' ja sitten sarake 'kunta'  (ts. järjestysavaimia on kaksi kappaletta) aakkosissa nousevaan järjestykseen,
* Valitse tulostukseen mukaan seuraavat sarakkeet: 'maakunta', 'kunta', ja 'Väkiluku'.
* tulostaa lopputulokseen viisi ensimmäistä riviä.

In [3]:
def kunnat(url):
    import pandas as pd
    
    df = pd.read_csv(url, sep=';', decimal=',')
    df2 = df[(df['maakunta'].isin(['Uusimaa', 'Keski-Pohjanmaa', 'Keski-Suomi'])) & (df['Väkiluku'] <= 10000)]
    df3 = df2.sort_values(['maakunta', 'kunta'])
    df3 = df3.loc[:,['maakunta', 'kunta', 'Väkiluku']]
    tulos = df3.head()
    print(tulos)

url='https://student.labranet.jamk.fi/~pelju/data_av/sources/kunnat.csv'

kunnat(url)

            maakunta       kunta  Väkiluku
22   Keski-Pohjanmaa      Halsua      1165
75   Keski-Pohjanmaa      Kannus      5502
84   Keski-Pohjanmaa   Kaustinen      4273
136  Keski-Pohjanmaa  Lestijärvi       737
191  Keski-Pohjanmaa       Perho      2825

## Kysymys 3
# Kunta-datan käsittely (uudet datakentät)
Tee funktio vesiala(url), joka tekee seuraavaa:

* lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, jossa sarakkeessa ‘kuntamuoto’ esiintyy merkkijonot ‘Kaupunki’
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, jossa sarakkeessa ‘maakunta’ esiintyy merkkijonot ‘Varsinais-Suomi’ tai ‘Etelä-Savo’
* laske uusi sarake ‘vesipinta-ala’, joka lasketaan vähentämällä 'kokonaispinta-ala' -sarakkeesta 'maapinta-ala'. Lisää uusi sarake 'vesipinta-ala' DataFrameen
* Lajittele DataFramessa olevat kaupungit laskevaan järjestykseen (suurin ensin) uuden ‘vesipinta-ala’-sarakkeen mukaan
* Valitse tulostukseen mukaan seuraavat sarakkeet: ‘kunta’, ‘maakunta’, ‘vesipinta-ala’, ‘kokonaispinta-ala’, ja ‘Väkiluku’.
* tulosta lopputulokseen viisi ensimmäistä riviä.

<span style="color:red">Huom! Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.</span>

In [4]:
def vesiala(url):
    import pandas as pd
    
    df = pd.read_csv(url, sep=';', decimal=',')
    df2 = df[df['kuntamuoto'].str.contains('Kaupunki')]
    df3 = df2[df2['maakunta'].str.contains('Varsinais-Suomi|Etelä-Savo')]
    arvot = df3['kokonaispinta-ala'] - df3['maapinta-ala']
    df3.insert(7,"vesipinta-ala",arvot,True)
    df3 = df3.sort_values('vesipinta-ala', ascending = False)
    df3 = df3.loc[:,['kunta', 'maakunta', 'vesipinta-ala', 'kokonaispinta-ala', 'Väkiluku']]
    tulos = df3.head()
    print(tulos)

url='https://student.labranet.jamk.fi/~pelju/data_av/sources/kunnat.csv'

vesiala(url)

            kunta         maakunta  vesipinta-ala  kokonaispinta-ala  Väkiluku
185      Parainen  Varsinais-Suomi        4664.99            5548.11     15217
286  Uusikaupunki  Varsinais-Suomi        1429.68            1932.43     15700
241    Savonlinna       Etelä-Savo        1359.61            3597.70     33611
157       Mikkeli       Etelä-Savo         681.21            3229.57     53818
168      Naantali  Varsinais-Suomi         375.56             688.01     19245

## Kysymys 4
# Sähkön hintatietojen luokittelua
Tee funktio sahko(url), joka tekee seuraavaa:

* Lukee url-osoitteesta datan DataFrameen, kun sarakkeiden erottimena on pilkku ja desimaalierottimena piste
* jos sarakkeissa Year Total €/MWh ja December €/MWh niiden välillä on merkki ".", korvataan merkki NumPy:n nan-arvolla hyödyntäen isin()-metodia,
* tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että ylimmän hintaluokan hinta on 'Year Total €/MWh'-sarakkeen suurin arvo. Sen sijaan alimman hintaluokan hinta on 'Year Total €/MWh'-sarakkeen pienin arvo, mutta alinta arvoa ei tehtävässä lasketa mukaan alimman hintaluokan lukumäärään. Vinkki: Käytä tasavälisten hintaluokkien tekemiseen metodeja np.linspace() sekä pd.cut() yhdessä, sillä muuten täsmälleen mallivastauksen mukaisen vastauksen saaminen on luultavasti mahdoton tehtävä.
* tulostaa hintaluokka-sarakkeen hintaluokkien lukumäärät value_counts()-metodilla,
* tarkista lopuksi, että funktio järjestää tulosteen samoin kuin esimerkkivastauksessa.

In [6]:
def sahko(url):
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv(url, sep=',', decimal='.')

    df = df.loc[:,'Year Total €/MWh':'December €/MWh']
    dots = df.isin(['.'])
    df = df.mask(dots, np.nan)
    
    pienin = df['Year Total €/MWh'].astype(float).min()
    suurin = df['Year Total €/MWh'].astype(float).max()
    lokerot = np.linspace(pienin,suurin,6)
    
    year = df['Year Total €/MWh'].astype(float)
    arvot = pd.cut(year, lokerot)
    df.insert(1,"hintaluokka",arvot,True)
    tulos = df['hintaluokka'].value_counts(sort=False)
    print(tulos)

url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv'

sahko(url)

(12.06, 21.256]     21
(21.256, 30.452]    85
(30.452, 39.648]    78
(39.648, 48.844]    22
(48.844, 58.04]     28
Name: hintaluokka, dtype: int64

## Kysymys 5

# Sähkön hintatietojen luokittelua (2)
Tee funktio suomisahko(url), joka tekee seuraavaa:

* Lukee url-osoitteesta datan DataFrameen, kun sarakkeiden erottimena on pilkku ja desimaalierottimena piste
* jos sarakkeissa Year Total €/MWh ja December €/MWh niiden välillä on merkki ".", korvataan merkki NumPy:n nan-arvolla hyödyntäen isin()-metodia,
* muuntaa sarakkeiden Year Total €/MWh ja December €/MWh ja niiden välissä olevien sarakkeiden tietotyypiksi float,
* kopioi DataFramesta kaikki sarakkeet ja ne rivit, joiden sarakkeessa Price area on merkkijono 'Finland',
* laskee koko vuoden sähkön hinnan keskiarvon uuteen sarakkeeseen Average €/MWh kaikilta kuukausilta ('January €/MWh'-'December €/MWh'),
* laskee sarakkeeseen Below average price, kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon,
* laskee sarakkeeseen Above average price, kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
* tulostaa vain ne kymmenen riviä (head(10)), joilla sarakkeiden 'Below average price' ja 'Above average price' summa on 12.

In [7]:
def suomisahko(url):
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv(url, sep=',', decimal='.')

    cols = df.loc[:,'Year Total €/MWh':'December €/MWh'].columns
    dots = df[cols].isin(['.'])
    df[cols] = df[cols].mask(dots, np.nan)
    df.loc[:,'Year Total €/MWh':'December €/MWh'] = df.loc[:,'Year Total €/MWh':'December €/MWh'].astype('float')
    df = df[df['Price area'].isin(['Finland'])]
 
    df2 = df.loc[:,'January €/MWh':'December €/MWh']
    average = df2.mean(axis = 1, skipna = True)
    df.insert(len(df.columns),"Average €/MWh",average,True)
    less = df.loc[:,'January €/MWh':'Average €/MWh'].apply(lambda x: (x['January €/MWh':'December €/MWh'][x['January €/MWh':'December €/MWh'] < x['Average €/MWh']]).count(), axis=1)
    df.insert(len(df.columns),"Below average price",less,True)
    over = df.loc[:,'January €/MWh':'Average €/MWh'].apply(lambda x: (x['January €/MWh':'December €/MWh'][x['January €/MWh':'December €/MWh'] >= x['Average €/MWh']]).count(), axis=1)
    df.insert(len(df.columns),"Above average price",over,True)
    df = df[df['Below average price'] + df['Above average price'] == 12]
    tulos = df[['Year', 'Below average price', 'Above average price']].head(10)
    print(tulos)

url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv'

suomisahko(url)

     Year  Below average price  Above average price
145  1998                    5                    7
146  1999                    5                    7
147  2000                    7                    5
148  2001                    7                    5
149  2002                    9                    3
150  2003                    9                    3
151  2004                    7                    5
152  2005                    5                    7
153  2006                    6                    6
154  2007                    7                    5